name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: prepare system with prerequisites
       run: sudo apt-get install -y hmmer ncbi-blast+ git libcurl4-openssl-dev build-essential curl
    - name: make
      run: make
    - name: make test
      run: make test
      #    - name: make distcheck
      #      run: make distcheck
