name: Linux bioconda 

on:
    workflow_dispatch:
    schedule:
        - cron: '15 3 * * *' # 3:15am everyday
    repository_dispatch:
        types: [linux-bioconda-test, install-test]
jobs:
  install_and_test:
    runs-on: ubuntu-latest
    steps:
    - name: configure conda
      run: |
          . $CONDA/bin/activate
          conda config --add channels defaults
          conda config --add channels bioconda
          conda config --add channels conda-forge
          conda update conda
          # conda search -f ncbi-amrfinderplus
    - name: install AMRFinderPlus
      run: |
          conda install -c bioconda -c conda-forge -y ncbi-amrfinderplus
    - name: version?
      run: |
          source /usr/share/miniconda/bin/activate
          amrfinder --version
    - name: download latest AMRFinderPlus database
      run: |
          source /usr/share/miniconda/bin/activate
          echo CONDA_PREFIX = ${CONDA_PREFIX}
          /usr/share/miniconda/bin/amrfinder --force_update
    - name: download tests
      run: |
          BASE_URL=https://raw.githubusercontent.com/${GITHUB_REPOSITORY}/master
          curl --silent -L \
             -O ${BASE_URL}/test_dna.fa \
             -O ${BASE_URL}/test_prot.fa \
             -O ${BASE_URL}/test_prot.gff \
             -O ${BASE_URL}/test_both.expected \
             -O ${BASE_URL}/test_dna.expected \
             -O ${BASE_URL}/test_dna_mut_all.expected \
             -O ${BASE_URL}/test_prot.expected \
             -O ${BASE_URL}/test_amrfinder.sh
    - name: run tests
      run: |
          source /usr/share/miniconda/bin/activate
          echo CONDA_PREFIX = $CONDA_PREFIX
          bash ./test_amrfinder.sh path
