name: dockerhub image

on:
    schedule: 
        - cron: '15 21 * * *' # 9:15pm everyday
    workflow_dispatch:
    repository_dispatch:
        types: [docker-test, install-test]

jobs:

  test_dockerhub:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - name: Test docker
      run: docker run hello-world
    - name: Software and DB version
      run: docker run ncbi/amr amrfinder --database_version
    - name: image ls for debugging
      run: docker image ls
    - name: Protein
      run: docker run --rm -v ${PWD}:/data ncbi/amr amrfinder --plus -n test_dna.fa -O Escherichia --mutation_all test_dna_mut_all.got --print_node > test_dna.got
    - name: Check results
      run: diff test_dna.expected test_dna.got
    - name: Combined
      run: docker run --rm -v ${PWD}:/data ncbi/amr amrfinder --plus -n test_dna.fa -p test_prot.fa -g test_prot.gff -O Escherichia --print_node > test_both.got
    - name: Check combined results
      run: diff test_both.expected test_both.got
