name: Mac bioconda
on:
    schedule:
        - cron: '30 3 * * *' # 3:30am everyday
    repository_dispatch:
        types: [mac-bioconda-test, install-test]
jobs:
  build:

    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: download conda
      run: curl -O https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    - name: install conda
      run: |
          bash ./Miniconda3-latest-MacOSX-x86_64.sh -b -p /Users/runner/miniconda3
          source /Users/runner/miniconda3/bin/activate
          conda init
    - name: install AMRFinderPlus
      run: |
          source /Users/runner/miniconda3/bin/activate
          conda install -y -c bioconda ncbi-amrfinderplus
    - name: Download AMRFinderPlus database
      run: /Users/runner/miniconda3/bin/amrfinder -u
    - name: test protein
      run: |
          source /Users/runner/miniconda3/bin/activate
          amrfinder --plus -p test_prot.fa -g test_prot.gff -O Escherichia > test_prot.got
          diff test_prot.expected test_prot.got
    - name: test dna
      run: |
          source /Users/runner/miniconda3/bin/activate
          amrfinder --plus -n test_dna.fa -O Escherichia --mutation_all test_dna_mut_all.got > test_dna.got
          diff test_dna.expected test_dna.got
    - name: test combined
      run: |
          source /Users/runner/miniconda3/bin/activate
          amrfinder --plus -n test_dna.fa -p test_prot.fa -g test_prot.gff -O Escherichia > test_both.got
          diff test_both.expected test_both.got
